body {
    background-color: #ccc;
}

#constructionArea {
    background-color: antiquewhite;
    border: 1px solid darkgray;
    width: 100%;
    height: 95vh;
}

#jsonCode {
    width: 100%;
    resize: none;
    height: 52vh;
}

#toolbox {
    border: 1px solid grey;
    background-color: #ccc;
    width: 100%;
    height: 42vh;
    line-height: 65px;
    overflow-y: auto;
}

.toolbox-button {
    width: 60px;
    height: 75px;
}

.button-image {
    width: 48px;
    height: 48px;
}

.button-label {
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

rect {
    transform: translate(-64px, -32px);
}

.name-label {
    font-family: monospace;
    font-weight: bold;
    font-size: 12px;
    transform: translate(-56px, -16px);
}

.type-label {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-style: italic;
    font-size: 12px;
    transform: translate(-56px, -2px);
}

.value-label {
    font-family: monospace;
    font-size: 12px;
    transform: translate(-56px, 18px);
}

#config {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    position: fixed; /* Sit on top of the page content */
    display: none; /* Hidden by default */
    width:  33%; /* Full width (cover the whole page) */
    height: 33%; /* Full height (cover the whole page) */
    top: 33%;
    left: 33%;
    right: 0;
    bottom: 0;
    background-color: #fffd;
    z-index: 2; /* Specify a stack order in case you're using a different order for other elements */
    overflow: auto;
}

#configTable {
    margin: auto;
}

.config-button {
    width: 100%;
    height: 20px;
    color: white;
    border: none;
    border-radius: 4px;
}

.config-button:hover {
    filter: brightness(1.2)
}

.config-ok {
    background-color: #496;
}

.config-cancel {
    background-color: #b46;
}

#help {
    position: fixed; /* Sit on top of the page content */
    display: none; /* Hidden by default */
    width:  100%; /* Full width (cover the whole page) */
    height: 100%; /* Full height (cover the whole page) */
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #0008;
    z-index: 3; /* Specify a stack order in case you're using a different order for other elements */
    overflow: auto;
}

.center-this {
    text-align: center;
    vertical-align: middle;
    margin: auto;
    margin-top: auto;
}